/* experts component scss */

.experts-component {
    padding-top: 50px;
    @media screen and (min-width: 0px) and (max-width: 1023px) {
        padding-top: 27px;
    }
    .experts-main-description {
        @media screen and (min-width: 0px) and (max-width: 1023px) {
            width: 100%;
        }
        @media screen and (min-width: 950px) and (max-width: 1023px) {
            text-align: center;
        }
        .grid-description {
            .grid-primary-heading {
                line-height: 43px;
                @media screen and (min-width: 0px) and (max-width: 1023px) {
                    line-height: 42px;
                }
            }
            .grid-paragraph {
                padding-top: 2px;
                line-height: 24px;
                @media screen and (min-width: 0px) and (max-width: 1023px) {
                    padding-top: 5px;
                }
            }
        }
    }
    /* people details */
    .person-details {
        @media screen and (min-width: 0px) and (max-width: 1023px) {
            width: 100%;
        }
        .person-image-container {
            text-align: center;
            padding-top: 14px;
            max-width: 100%;
            @media screen and (min-width: 0px) and (max-width: 1023px) {
                padding-top: 25px;
            }
            .person-image {
                display: inline-block;
                width: 299px;
                height: 299px;
                overflow: hidden;
                border-radius: 50%;
                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                @media screen and (min-width: 0px) and (max-width: 1023px) {
                    width: 254px;
                    height: 254px;
                }
                img {
                    max-width: 100%;
                    @media screen and (min-width: 0px) and (max-width: 1023px) {
                        width: 297px;
                        //max-width: initial;
                        max-width: none;
                        margin-top: -27px;
                        margin-left: -17px;
                    }
                    @media screen and (min-width: 1024px) {
                        margin-top: -35px;
                        margin-left: -44px;
                        //max-width: initial;
                        max-width: none;
                        width: 394px;
                    }
                }
            }
        }
        .person-name {
            font-family: $AvenirBlack;
            font-size: 20px;
            line-height: 25px;
            margin-top: 25px;
            @media screen and (min-width: 0px) and (max-width: 1023px) {
                margin-top: 15px;
            }
        }
        .person-description {
            font-family: $AvenirLight;
            font-size: 20px;
            line-height: 24px;
        }
        &.second-person-details {
            @media screen and (min-width: 0px) and (max-width: 1023px) {
                padding-top: 7px;
            }
            .person-image {
                img {
                    @media screen and (min-width: 0px) and (max-width: 1023px) {
                        width: 279px;
                        max-width: initial;
                        margin-top: -17px;
                        margin-left: -12px;
                    }
                    @media screen and (min-width: 1024px) {
                        margin-top: -32px;
                        margin-left: -52px;
                        max-width: initial;
                        width: 413px;
                    }
                }
            }
        }
    }
    .button {
        margin: 50px auto 50px auto;
        @media screen and (min-width: 0px) and (max-width: 1023px) {
            margin: 40px auto 50px auto;
        }
    }
}