.one-network-component {
    padding: 30px 0 20px;
    margin: 0;
    @media screen and (min-width: 0px) and (max-width: 1023px) {
        padding: 30px 0;
    }
    .component-header {
        max-width: 980px;
        margin: 20px auto 40px;
        .grid-primary-heading {
            text-transform: uppercase;
        }
        .grid-paragraph {
            padding-top: 4px;
            color: #fafdfd;
        }
        @media screen and (min-width: 0px) and (max-width: 990px) {
            margin: 0 auto;
        }
    }
    .component-body {
        display: table;
        padding-top: 50px;
        .custom-editable-number {
            font-family: $Primary_font;
            color: $white;
            text-align: center;
            padding: 20px 0;
            .editable-number {
                display: table;
                text-align: center;
                margin: 0 auto;
                .value-number {
                    display: table-cell;
                    font-size: 100px;
                    vertical-align: middle;
                    letter-spacing: -2px;
                    line-height: 85px;
                    @media screen and (min-width: 0px) and (max-width: 990px) {
                        font-size: 85px;
                        letter-spacing: -3px;
                    }
                }
                .plus-symbol {
                    display: table-cell;
                    font-size: 30px;
                    vertical-align: middle;
                }
                .editable-image {
                    display: table-cell;
                }
            }
            .editable-text {
                font-size: 20px;
                line-height: 22px;
            }
        }
        .doctors-list-block {
            padding: 0 60px 0 60px;
            .img-block {
                @media screen and (min-width: 0px) and (max-width: 767px) {
                    padding: 0;
                }
                img {
                    width: 100%;
                }
            }
        }
        .location-list-block {
            background: url(../../images/map_pointer.png) no-repeat top 8px center;
            margin: 0 15px 0 0;
            margin-left: -15px;
            min-height: 200px;
            p {
                font: 20px/1.2 $Primary_font;
                text-align: center;
                color: $white;
                margin: 20px 0;
            }
            .custom-editable-number {
                padding: 0;
            }
        }
        .expertise-info-block {
            padding: 0 0 0 40px;
            h4 {
                font: 20px/1 $AvenirBlack;
                color: $white;
                margin-bottom: 10px;
                text-transform: uppercase;
            }
            ul {
                li {
                    font: 20px/1 $AvenirRoman;
                    color: $white;
                    list-style-type: none;
                    margin-bottom: 6px;
                    position: relative;
                    padding-left: 15px;
                    &:before {
                        content: '.';
                        color: $white;
                        line-height: 0;
                        position: absolute;
                        top: 0;
                        left: 0px;
                        font-size: 35px;
                    }
                }
            }
        }
        @media screen and (min-width: 991px) and (max-width: 1140px) {
            .doctors-list-block {
                max-width: 475px;
                float: none;
                margin: 0 auto 30px;
                display: table;
                padding: 0 30px;
            }
            .location-list-block {
                width: 50%;
                .location-list-block-inner {
                    display: table;
                    margin: 0 auto;
                    max-width: 275px;
                }
            }
            .expertise-info-block {
                width: 50%;
            }
        }
        @media screen and (min-width: 0px) and (max-width: 990px) {
            padding: 0;
            .doctors-list-block {
                max-width: 290px;
                float: none;
                margin: 30px auto 30px;
                display: table;
                padding: 0;
            }
            .location-list-block {
                max-width: 290px;
                float: none;
                margin: 40px auto 40px;
                //display: table;
                padding: 0;
                .editable-number {
                    margin: 0px 0 0 20px;
                    .value-number {
                        font-size: 105px;
                        line-height: 96px;
                    }
                }
            }
            .expertise-info-block {
                float: none;
                margin: 30px auto 30px;
                display: table;
                padding: 0;
                .expertise-info-block-inner {
                    display: table;
                    margin: 0 auto;
                }
            }
        }
    }
}