/* outcomes scss */

.desc-container{
    display: inline-block;
    vertical-align: top;
	.desc-line{
		display: block;
	}
	.desc-number{
		font-family: $AvenirBlack;
	}
}

.outcomes-component{
	padding: 63px 0 20px 0;
	@media screen and (min-width: 0px) and (max-width: 767px){
		padding: 18px 0 3px 0;
		.grid-primary-heading{
			line-height: 42px;
		}
	}
	.grid-tertiary-heading{
		color: $aubergine;
	}
	.grid-description{
		padding: 0 0 95px 0;
		@media screen and (min-width: 0px) and (max-width: 1023px){
			padding: 0 0 35px 0;
		}
	}
	
	.grid-paragraph{
		padding-top: 10px;
		@media screen and (min-width: 0px) and (max-width: 767px){
			padding-top: 4px;
			line-height: 24px;
		}
	}
	
	.grid-transplant-rate-and-readmissions{
		.grid-tertiary-heading{
			margin-bottom: 42px;
			@media screen and (min-width: 0px) and (max-width: 767px){
				text-align: center;
				margin-bottom: 24px;
			}
			@media screen and (min-width: 768px) and (max-width: 1023px){
				text-align: center;
			}
		}
		.grid-transplant-rate{
			padding-left: 0;
			@media screen and (min-width: 1170px){
				.grid-tertiary-heading{
					margin-left: -15px;
				}
			}
			@media screen and (min-width: 992px) and (max-width: 1023px){ /* this media query is used to set column width to 100% from 992px to 1024px as upto 991px it is already width 100% as from bootstrap */
				width: 100%;
			}
			.grid-transplant-rate-inner{
				@media screen and (min-width: 768px) and (max-width: 1023px){
					width: 435px;
					margin: 0 auto 55px auto;
				}
				.heart-image-container{
					vertical-align: top;
					display: inline-block;
					margin-right: 30px;
					margin-top: -8px;
					@media screen and (min-width: 0px) and (max-width: 767px){
						width: 100%;
						text-align: center;
						margin-bottom: 25px;
					}
					.heart-image{
						max-width: 100%;
					}
				}
				
				.desc-container{
					display: inline-block;
					@media screen and (min-width: 0px) and (max-width: 767px){
						width: 230px;
						margin: 0 auto;
						display: block;
						margin-bottom: 37px;
					}
					.desc-line{
						display: block;
						line-height: 100%;
						padding-bottom: 7px;
						@media screen and (min-width: 0px) and (max-width: 767px){
							padding-bottom: 9px;
						}
					}
					.desc-number{
						font-family: $AvenirBlack;
						font-size: 55px;
						display: inline-block;
						line-height: 84%;
						padding-bottom: 3px;
						@media screen and (min-width: 0px) and (max-width: 767px){
							padding-bottom: 16px;
						}
						
						.percentage-symbol{
							font-family: $AvenirLight;
							font-size: 30px;
							display: inline-block;
							vertical-align: top;
							position: relative;
							line-height: 80%;
						}
					}
				}
			}
		}
		.grid-cabg-readmissions{
			/* padding-right: 0; */
			@media screen and (min-width: 1170px){
				padding-left: 100px;
			}
			@media screen and (min-width: 1024px) and (max-width: 1169px){
				padding-left: 25px;
			}
			@media screen and (min-width: 0px) and (max-width: 767px){
				padding: 0;
				.mobile-full-width{
					display: block;
				}
				.grid-tertiary-heading{
					margin-bottom: 43px;
				}
			}
			@media screen and (min-width: 992px) and (max-width: 1023px){
				width: 100%;
			}
			.grid-cabg-readmissions-inner{
				max-width: 430px;
				text-align: center;
				@media screen and (min-width: 0px) and (max-width: 767px){
					width: 100%;
					max-width: 100%;
					margin: 0 auto 35px auto;
				}
				@media screen and (min-width: 768px) and (max-width: 1023px){
					width: 100%;
					max-width: 100%;
					margin: 0 auto 35px auto;
				}
				@media screen and (min-width: 992px) and (max-width: 1023px){
					margin: 0 auto 0 auto;
				}
				.desc-container{
					.desc-number.percentage-number{
						/* vertical-align: top; */
						font-family: $AvenirRoman;
						font-size: 153px;
						display: inline-block;
						line-height: 77%;
						/* padding-top: 10px; */
						margin-right: -25px;
						@media screen and (min-width: 0px) and (max-width: 767px){
							font-size: 144px;
						}
						.lightOblique{
							font-family: inherit;
							line-height: inherit;
							font-family: $AvenirOblique;
							display: inline-block;
						}
						
						.percentage-symbol{
							line-height: inherit;
							font-family: $AvenirLight;
							font-size: 69.15px;
							line-height: 80%;
							display: inline-block;
							vertical-align: top;
							/* top: -10px; */
							position: relative;
							@media screen and (min-width: 0px) and (max-width: 767px){
								font-size: 60.15px;
							}
						}
						
						/* sup{
							line-height: inherit;
							font-family: inherit;
							font-size: 50px;
							line-height: 80%;
							display: inline-block;
						} */
					}
				}
				.arrow-container{
					vertical-align: top;
					.arrow{
						max-width: 100%;
						@media screen and (min-width: 0px) and (max-width: 767px){
							width: 96px;
						}
					}
				}
			}
		}
	}
	
	
	/* tavr-outcomes */
	.tavr-outcomes{
		margin-top: 60px;
		@media screen and (min-width: 0px) and (max-width: 767px){
			margin-top: 55px;
		}
		@media screen and (min-width: 768px) and (max-width: 1023px){
			margin-top: 50px;
		}
		.block-heading{
			margin-bottom: 35px;
			@media screen and (min-width: 0px) and (max-width: 767px){
				margin-bottom: 20px;
			}
		}
		.tavr-outcomes-inner{
			max-width: 920px;
			margin: 0 auto;
			padding: 0 0 0 20px;
			@media screen and (min-width: 0px) and (max-width: 767px){
				max-width: 255px;
				padding: 0;
			}
			@media screen and (min-width: 768px) and (max-width: 1023px){
				max-width: 550px;
			}
			.tavr-patient-image-container{
				display: inline-block;
				margin-right: 70px;
				@media screen and (min-width: 0px) and (max-width: 767px){
					width: 100%;
					text-align: center;
					display: block;
					margin-bottom: 45px;
				}
				.tavr-patient-image{
					vertical-align: middle;
					max-width: 100%;
				}
			}
			.tavr-outcomes-list-container{
				display: inline-block;
				vertical-align: middle;
				@media screen and (min-width: 768px) and (max-width: 1023px){
					/* width: calc(100% - 150px); */
					width: 320px;
					margin-bottom: 20px;
				}
				@media screen and (min-width: 0px) and (max-width: 767px){
					width: 100%;
					display: block;
					margin-bottom: 17px;
				}
				ul{
					display: inline-block;
					margin-right: 35px;
					@media screen and (min-width: 768px) and (max-width: 1023px){
						display: block;
						margin-right: 0;
					}
					@media screen and (min-width: 0px) and (max-width: 767px){
						display: block;
						width: 100%;
						max-width: 310px;
						margin: 0 auto;
					}
					li{
						vertical-align: baseline;
						display: block;
						font-family: $AvenirRoman;
						font-size: 27px;
						margin-bottom: 10px;
						color: $aubergine;
						.percentage-number{
							font-size: 46.5px;
							padding-right: 15px;
							display: inline-block;
							position: relative;
							line-height: 78%;
							color: $dark_cyan;
							@media screen and (min-width: 0px) and (max-width: 767px){
								font-size: 37px;
								padding-right: 12px;
							}
							.percentage-symbol{
								font-size: 27.5px;
								display: inline-block;
								position: relative;
								line-height: 84%;
								vertical-align: top;
								@media screen and (min-width: 0px) and (max-width: 767px){
									font-size: 23px;
								}
							}
						}
						@media screen and (min-width: 0px) and (max-width: 767px){
							font-size: 21.3px;
						}
					}
				}
				
				
			}
		}
	}
	.rate-adjustment-text{
		font-family: $AvenirMedium;
		font-size: 15px;
		margin-bottom: 0px;
		@media screen and (min-width: 0px) and (max-width: 767px){
			margin-left: -25px;
		}
	}
	@media screen and (min-width: 0px) and (max-width: 767px){
		.button{
			margin-top: 25px;
		}
	}
}