// Variables

// Colors
$white: #ffffff;
$black: #000000;
$dark_red: #9c3022;
$dark_cyan: #008996;
$dark_grayish_blue :#939598;
$aubergine :#231f20;





// Fonts
$Primary_font: 'AvenirBook', Arial, Helvetica, sans-serif;
$AvenirRoman : 'AvenirRoman', Arial, Helvetica, sans-serif;
$AvenirBlack : 'AvenirBlack', Arial, Helvetica, sans-serif;
$AvenirLight : 'AvenirLight', Arial, Helvetica, sans-serif;
$AvenirMedium : 'AvenirMedium', Arial, Helvetica, sans-serif;
$AvenirOblique : 'AvenirOblique', Arial, Helvetica, sans-serif;
$AvenirLightOblique : 'AvenirLightOblique', Arial, Helvetica, sans-serif;
$AvenirMediumOblique : 'AvenirMediumOblique', Arial, Helvetica, sans-serif;
$bootstrapGlyphicons : 'bootstrap-glyphicons', Arial, Helvetica, sans-serif;
